<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<div class="main-field">

<div id="posts" data-url="<%=url_for(:action => 'index', :format => 'js')%>">
  <%= render @posts %>
</div>

<%= simple_form_for @post_new, :html => { :class => 'form-vertical' }, remote: true do |f| %>

    <%= f.input :user_id, as: 'hidden', input_html: { value: current_user.id } %>
    <%= f.input :text, :wrapper => :append,  :label => false do %>
      <%= f.input_field :text, :id => 'post-field', :rows => 3, :cols => '10%', :class => 'inline', 
                                                      :onkeyup=>"if (event.keyCode == 13) {handlerButton()}" %>

      <%= f.button :submit, :class => 'btn-primary' %>
    <% end %>

<% end %>



<script type="text/javascript">
  jQuery('#post-field').keypress(function(e) {
    if (e.keyCode == 13 && !e.shiftKey) {
      e.preventDefault();
      $('.form-vertical').submit()
    }
  });
</script>





<%# missing parts %>

<% if false %>


      <div class="btn-group">
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_post_path(post), :class => 'btn btn-mini' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      post_path(post),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </div>


        <%= link_to t('.new', :default => t("helpers.links.new")),
              new_post_path,
              :class => 'btn btn-primary' %>

<% end %>

